html {
  height: 100%;
  font-size: 62.5%; /* Setting base font to 10px and define all your units in rem. 1rem = 10px */
}

#content
{
	display: flex;
	height: 100%	
}

section[role="region"]
{
	background-color: white
}

section[data-type="sidebar"] fieldset legend
{
	color:#CCC;
}

section[role="region"][data-position="right"] {
    position: absolute;
    height:100%;
}

section[role="region"]:not(#drawer) {
    left: 100%;
    z-index: 100;
    padding-left: 0px;
}

section.current[role="region"][data-position="right"]:not(#drawer) {
    left: 0px;
    z-index: 100;
    animation: 0.4s ease 0s normal forwards 1 running rightToCurrent;
}

section[data-type="posts"]{
  padding: 0px 1.5rem;
}

.relative-scroll-container{
  height: 100%;  
}

.fix-scroll
{
  height: 100%;  
}

.favori
{
  font-size: 2em;
  color: yellow;
  text-shadow: 0px 0px 2px black, 0px 0px 5px black;  
}

.favori::before {
    content: "★";
} 

.locked {
  font-size : 2em;
}

.locked::before {
    content: "\1F512";
} 

.post {
  border-bottom: 0.1rem solid #E7E7E7;
  padding: 0.5rem 0px;
}

.post p:first-of-type{
  padding: 0px 0px 0.5rem 0px;
}

.post ul li {
  list-style: disc outside none;
  margin-left: 1em;
}

.post .container table.oldcitation, .post .container table.citation {
  border : 0.1rem solid #E7E7E7;
  margin: 1em;
}

.post .pseudo {
  font-weight: bold
}