 <header class="fixed">
      <a id="posts-button-back" href="#"><span class="icon icon-back">back</span></a>
      <h1>Posts</h1>
    </header>
    <div class="relative-scroll-container">
      <section data-type="posts" class="fit scroll  fix-scroll">
        <article>
          {{#posts}}
            <div class="post">
              <p><span class="pseudo">{{pseudo}}</span> le <time datetime="{{view.localizedDate}}">{{view.localizedDate}}</time></p>
              {{#avatarUrl}}<img src="{{avatarUrl}}"/>{{/avatarUrl}}
              <p>{{{content}}}</p>
            </div>
          {{/posts}}
        </article>
      </section>
    </div>